//TEXTO DISTINTO POR BREAKPOINT//
    .spanMobile,
    .spanTablet,
    .spanDesktop {
        display: none;
    }
        
    //TEXTO DISTINTO APLICACÃO POR BREAKPOINT//
        @media (min-width: @Res_Desktop) {
            .spanDesktop {
                display: inline;
            }
        }

        @media (max-width: @Res_Desktop) and (min-width: @Res_Tablet) , or (hover: none) and (min-width: @Res_Tablet) {
            .spanTablet {
                display: inline;
            }
        }

        @media (max-width:@Res_Tablet) {
            .spanMobile {
                display: inline;
            }
        }
