.error {
    & when (@breakpoint = 'all') {
        border: solid;
        font-family: @FontFamilyMessageballoonErro;
        font-weight: @FontWeightMessageballoonErro;
        .borderColor( @CorBordaMessageballoonErro; @FadeCorBordaMessageballoonErro; @SaturacaoCorBordaMessageballoonErro; @DesaturacaoCorBordaMessageballoonErro; @ClarificacaoCorBordaMessageballoonErro; @ObscurecenciaCorBordaMessageballoonErro;);
        .backgroundColor( @CorFundoMessageballoonErro; @FadeCorFundoMessageballoonErro; @SaturacaoCorFundoMessageballoonErro; @DesaturacaoCorFundoMessageballoonErro; @ClarificacaoCorFundoMessageballoonErro; @ObscurecenciaCorFundoMessageballoonErro;);
        .color( @CorFonteMessageballoonErro; @FadeCorFonteMessageballoonErro; @SaturacaoCorFonteMessageballoonErro; @DesaturacaoCorFonteMessageballoonErro; @ClarificacaoCorFonteMessageballoonErro; @ObscurecenciaCorFonteMessageballoonErro;);
    }
}
